.root {
  background-color: rgb(0, 0, 0, 0.2);
}

html {
  font-size: 16;
}

body {
  font-family: VTBGroupUI, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
